* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	line-height: 1;
	
}

body {
	background-color: #eee;
}

h1, h2, p {
	font-family: arial;
	text-align: center;
	margin: 50px;
	font-weight: bold;
}

 a {
	color: royalblue;
	font-size: 20px;
	display: block;
	width: 246.8px;
	margin: auto;
}